

@{
    ViewData["Title"] = "Courses";
  
}
@model Course
<section dir="" class="p-2 border-end border-top border-4 border-primary">
    <div class="d-flex justify-content-between align-items-center">

        <div> Number Of Courses:</div>
        <div>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCourse">
                <i class="fa-solid fa-plus"></i>
                Add Course
            </button>



        </div>

    </div>
    <hr class="link-primary " style="height: 5px; width: 100%;">
    <div class="row ">
        <div class="col-md-3">
            <div class="card m-3">
                <img src="images/Learning-cuate.png" class="card-img-top" alt="...">
                <div class="card-body">

                    <h4>
                        <a asp-action="Index" class=" card-title fw-bolder" asp-controller="Units" asp-route-courseId="5">

                            دورة ابنى ابنك

                        </a>

                    </h4>
                    <p class="badge text-bg-secondary">دورة لأكتشاف مهارة الابناء</p>
                    <div dir="" class="input-group mb-3 w-50 mx-auto">
                        <span dir="" class="input-group-text rounded-start-0 rounded-end-2">00.</span>
                        <input type="text" class="form-control form text-center" disabled value="100" aria-label="Amount (to the nearest Pound)">
                        <span dir="" class="input-group-text rounded-start-2 rounded-end-0">EGP</span>
                    </div>
                    <div class="text-muted d-flex justify-content-between">
                        <span>  عدد الطلاب : 26</span>
                        <span>المستوى : مبتدئ </span>
                    </div>
            
                    <div class="d-flex mt-2 w-100">
              
                        <button type="button" class="btn btn-outline-warning flex-grow-1 mx-2" data-bs-toggle="modal" data-bs-target="#EditCourse">
                            <i class="fa-solid fa-pen-to-square"></i>
                            تعديل
                        </button>
                        <button type="button" class="btn btn-danger mx-2">
                            <i class="fa-solid fa-trash" style="color: #ffffff;"></i>

                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="addCourse" tabindex="-1" aria-labelledby="addCourseLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content ">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-center" id="addCourseLabel">Add Course</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form asp-action="Edit" method="post" enctype="multipart/form-data">

                        <div class="row g-2">

                            <div class="col-12">
                                <div class="img">
                                    <label for="file" class="labelFile">
                                        <span>
                                            <svg xml:space="preserve" viewBox="0 0 184.69 184.69"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" id="Capa_1" version="1.1"
                                                 width="60px" height="60px">
                                            <g>
                                            <g>
                                            <g>
                                            <path d="..." style="fill:#010002;"></path>
                                      </g>
                                            <g>
                                            <path d="..." style="fill:#010002;"></path>
                                      </g>
                                    </g>
                                  </g>
                                </svg>
                                        </span>
                                        <p>drag and drop your file here or click to select a file!</p>
                                    </label>
                                    <input class="input" type="file" asp-for="ThumbnailUrl" />
                                    <span asp-validation-for="ThumbnailUrl" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" asp-for="Title">عنوان الدوره</label>
                                <input type="text" class="form-control" asp-for="Title">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" asp-for="CategoryID">تصنيف الدوره</label>
                                <select class="form-select" asp-for="CategoryID">
                                    <option selected>chose one</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <span asp-validation-for="CategoryID" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" asp-for="Price">السعر </label>
                                <div class="input-group mb-3 mx-auto">
                                    <span class="input-group-text rounded-start-0 rounded-end-2">00.</span>
                                    <input type="text" class="form-control text-center" asp-for="Price">
                                    <span class="input-group-text rounded-start-2 rounded-end-0">EGP</span>
                                </div>
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" asp-for="Slug">عنوان الدوره بالانجليزى بدون فواصل</label>
                                <input type="text" class="form-control" asp-for="Slug">
                                <span asp-validation-for="Slug" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" asp-for="Tags">العلامات مفصوله بفواصل </label>
                                <input type="text" class="form-control" asp-for="Tags">
                                <span asp-validation-for="Tags" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" asp-for="Intro_Video">فيديو تعريفى</label>
                                <input type="text" class="form-control" asp-for="Intro_Video">
                                <span asp-validation-for="Intro_Video" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" asp-for="CourseType">نوع الدوره </label>
                                <select class="form-select" asp-for="CourseType">
                                    <option selected>chose one</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <span asp-validation-for="CourseType" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" asp-for="Level">مستوى الجمهور</label>
                                <select class="form-select" asp-for="Level">
                                    <option selected>chose one</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <span asp-validation-for="Level" class="text-danger"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Course</button>
                </div>
            </div>
        </div>
    </div>






    <div class="modal fade" id="EditCourse" tabindex="-1" aria-labelledby="EditCourseLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h1 class="modal-title fs-5 text-center" id="EditCourseLabel">Add Course</h1>
                </div>
                <div class="modal-body">

                    <form asp-action="EditCourse" method="post" enctype="multipart/form-data">

                        <div class="row g-2">

                            <div class="col-12">
                                <div class="img">
                                    <label for="file" class="labelFile">
                                        <span>
                                            <svg xml:space="preserve" viewBox="0 0 184.69 184.69"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" id="Capa_1" version="1.1"
                                                 width="60px" height="60px">
                                            <g>
                                            <g>
                                            <g>
                                            <path d="..." style="fill:#010002;"></path>
                                      </g>
                                            <g>
                                            <path d="..." style="fill:#010002;"></path>
                                      </g>
                                    </g>
                                  </g>
                                </svg>
                                        </span>
                                        <p>drag and drop your file here or click to select a file!</p>
                                    </label>
                                    <input class="input" type="file" asp-for="ThumbnailUrl" />
                                    <span asp-validation-for="ThumbnailUrl" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" asp-for="Title">عنوان الدوره</label>
                                <input type="text" class="form-control" asp-for="Title">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" asp-for="CategoryID">تصنيف الدوره</label>
                                <select class="form-select" asp-for="CategoryID">
                                    <option selected>chose one</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <span asp-validation-for="CategoryID" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" asp-for="Price">السعر </label>
                                <div class="input-group mb-3 mx-auto">
                                    <span class="input-group-text rounded-start-0 rounded-end-2">00.</span>
                                    <input type="text" class="form-control text-center" asp-for="Price">
                                    <span class="input-group-text rounded-start-2 rounded-end-0">EGP</span>
                                </div>
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" asp-for="Slug">عنوان الدوره بالانجليزى بدون فواصل</label>
                                <input type="text" class="form-control" asp-for="Slug">
                                <span asp-validation-for="Slug" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" asp-for="Tags">العلامات مفصوله بفواصل </label>
                                <input type="text" class="form-control" asp-for="Tags">
                                <span asp-validation-for="Tags" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" asp-for="Intro_Video">فيديو تعريفى</label>
                                <input type="text" class="form-control" asp-for="Intro_Video">
                                <span asp-validation-for="Intro_Video" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" asp-for="CourseType">نوع الدوره </label>
                                <select class="form-select" asp-for="CourseType">
                                    <option selected>chose one</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <span asp-validation-for="CourseType" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" asp-for="Level">مستوى الجمهور</label>
                                <select class="form-select" asp-for="Level">
                                    <option selected>chose one</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <span asp-validation-for="Level" class="text-danger"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Course</button>
                </div>
            </div>
        </div>
    </div>

</section>


